<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 p-3" href="#">ABC Insurance</a>
</nav>

<div class="container-fluid">
  <div class="d-flex">
    <app-sidebar class="col-md-2"></app-sidebar>

    <div class="container-fluid">
      <h1 class="page-header">Dashboard</h1>
      <div class="row charts-wrapper">
        <div class="col-md-12 bar-chart-wrapper">
          <div class="card card-chart">
            <h4 class="card-title">
              {{ activeRegion }}ern Region Monthly Policy Sales (Year: 2018)
            </h4>
            <div class="card-header card-header-success">
              <div class="ct-chart" id="regionalSalesChart"></div>
            </div>
            <div class="card-body">
              <p class="card-category">
                Select a region to show monthly sales graph
              </p>
            </div>
            <div class="card-footer">
              <div class="stats content-spacing">
                <input
                  type="radio"
                  class="radio radio-spacing"
                  name="region"
                  checked="checked"
                  (click)="getRegionalData('North')"
                />North
                <input
                  type="radio"
                  class="radio radio-spacing"
                  name="region"
                  (click)="getRegionalData('East')"
                />East
                <input
                  type="radio"
                  class="radio radio-spacing"
                  name="region"
                  (click)="getRegionalData('South')"
                />South
                <input
                  type="radio"
                  class="radio radio-spacing"
                  name="region"
                  (click)="getRegionalData('West')"
                />West
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-chart">
            <h4 class="card-title">
              Overall Monthly Policy Sales (Year: 2018)
            </h4>
            <div class="card-header card-header-primary">
              <div class="ct-chart" id="monthlySalesChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
